ul {
  list-style: none;
}

a:-webkit-any-link {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;

  nav {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  ul {
    display: flex;
    flex-direction: row;
    li {
      margin: 0 10px;
    }
  }
}

.card {
  margin: 10px;
  border: 1px solid #ccc;
}

footer {
  display: flex;
  justify-content: center;
}
