@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,400;0,700;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  filter: drop-shadow(0 0 0.75rem orange);
}

html {
  scroll-behavior: smooth;
}

button {
  border: none;
  padding: 10px;
  background-color: green;
}

.icon {
  img {
    width: 50px;
  }
}

.skill-icon {
  width: 50px;
}

body {
  color: white;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: calc(1rem + 0.5vw);
  background-color: black;
  background: linear-gradient(180deg, black, rgba(0, 0, 0, 0) 70%), linear-gradient(127deg, blue, rgba(0, 0, 0, 0) 70%),
    linear-gradient(0deg, rgb(170, 88, 102), rgba(0, 0, 0, 0) 70%);
  background-repeat: no-repeat;
}
header {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  padding: 0 1rem;
  backdrop-filter: blur(5px);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    ul {
      display: flex;
      li {
        margin: 0 10px;
      }
    }
  }
}

main {
  justify-content: center;
  padding: 0 20%;
  section {
    min-height: 50vh;
    z-index: 0;
    margin: 20vh 0;
    padding-top: 50px;
    article {
      line-height: 2;
      span {
        font-style: italic;
        font-weight: 700;
        background: linear-gradient(135deg, orange, red);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
      }
    }
  }
  .about {
    display: flex;
  }
}

.preview {
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  border-radius: 30px;
  padding: 30px 5px;

  display: flex;
  .preview-img {
    width: 100%;
  }
}

.hidden {
  display: none;
}

footer {
  text-align: center;
  padding: 10px;
  nav {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    ul {
      display: flex;
      li {
        margin: 0 10px;
      }
    }
  }
}

// small (mobile)
@media (max-width: 576px) {
  header {
    flex-direction: column;
    align-items: center;
    nav {
      ul {
        flex-direction: column;
        li {
          margin: 1em 0;
        }
      }
    }
    #external-links {
      display: none;
    }
  }
  main {
    margin: 0;
    padding: 0;
  }
  section {
    margin: 10vh 0;
  }
  .preview {
    flex-direction: column;
    align-items: center;
  }
}
// medium (tablet)
@media (max-width: 768px) {
  header {
    align-items: center;
    h1 {
      display: none;
    }
  }
  main {
    margin: 0;
    padding: 0;
  }
  section {
    margin: 10vh 0;
  }
}
